/* 
    Created on : 15 janv. 2017, 13:17:17
    Author     : hhfra
*/
.generate-tree(40, 0, '');
.generate-tree(@n, @i, @s) when (@i =< @n) {
	@rule:~'.tree @{s} > span > span > .tree-item > a:first-child';
	@{rule} {
		@padd:(@i * 10 + 5);
		padding-left: ~"@{padd}px";
	}
	@next: '@{s} > span > span > div.tree-children';
	.generate-tree(@n, (@i + 1), @next);
}
.tree-item > a.collapsed > [open],
.tree-item > a > [close] {
	display: none;
} 
.tree-item > a.collapsed > [close],
.tree-item > a > [open] {
	display: initial;
} 
.tree-item > a {
    text-decoration: none !important;
}
.tree-item {
	cursor: pointer;
	position: relative;
	display: block;
	background-color: #fff;
	padding-left : 0px;
	padding-right : 10px;
	padding-top : 6px;
	padding-bottom : 6px;
	border-top: 1px solid #ddd;
	border-bottom: none !important;
	border-left: none !important;
	border-right: none !important;
}
.tree-item.active > a {
	color:inherit;
}
.tree-item:hover {
	background-color: #f9f2f4;
}
.tree-item > .badge {
    float: right;
}
.tree-item.active, .tree-item.active:focus, .tree-item.active:hover {
    text-shadow: 0 -1px 0 #286090;
    background-image: -webkit-linear-gradient(top,#337ab7 0,#2b669a 100%);
    background-image: -o-linear-gradient(top,#337ab7 0,#2b669a 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#2b669a));
    background-image: linear-gradient(to bottom,#337ab7 0,#2b669a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2b669a', GradientType=0);
    background-repeat: repeat-x;
    border-color: #2b669a;
}
.tree-item.active, .tree-item.active:focus, .tree-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}