<!DOCTYPE html>
<html ng-app="tree-demo">
	<head>
		<title>CSS Tree demo</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/vendors.css">
		<link rel="stylesheet" href="bootstrap-csstree.css">
		<script src="js/vendors.js"></script>
		<style>
			.folder-container {
				height:500px;
				width:400px;
				overflow-y:auto;
				border:solid #222 1px;
				border-radius: 4px
			}
			.tree *.glyphicon-folder-open,
			.tree *.glyphicon-folder-close {
				color:sandybrown;
			}
		</style>
	</head>
	<body>
	<ng-include src="'../navbar.html'"></ng-include>
	<div class="container-fluid" ng-controller="DemoCtrl as ctrl">
		<div class="page-header">
			<h2>bootstrap-csstree
				&nbsp;&nbsp;
				<a href="https://www.npmjs.com/package/bootstrap.-sstree"><img src="https://badge.fury.io/js/bootstrap-csstree.svg" alt="npm version" height="18"></a>
				<a href="https://travis-ci.org/hhdevelopment/bootstrap-csstree"><img src="https://travis-ci.org/hhdevelopment/bootstrap-csstree.svg?branch=master" alt="build status" height="18"></a>
			</h2>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<form class="form-horizontal">
					<label class="col-xs-6 control-label">Selection folder</label>
					<div class="col-xs-6">
						<div class="btn-group" role="group" aria-label="...">
							<button type="button" class="btn btn-default" ng-class="{'btn-primary':!ctrl.disabled}" ng-click="ctrl.disabled = false">Enable</button>
							<button type="button" class="btn btn-default" ng-class="{'btn-primary':ctrl.disabled}" ng-click="ctrl.disabled = true">Disable</button>
						</div>
					</div>
				</form>
				<br>
				<br>
				<div class="folder-container">
					<div class="tree" ng-disabled="ctrl.disabled">
						<span ng-repeat="folder in ctrl.folders track by $index" ng-include="'tree-template.html'"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="index.js"></script>
</body>
</html>
